body {
    background-image: url(assets/background.png)
}

* {
    font-family: consolas;
    line-height: 1;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

#box {
    background-color: #333333;
    padding: 10px 10%;
    position: sticky;
    top: 0px;
}

#navbar {
    float: right;
    padding: 4px 0;
    word-spacing: 40px;
}

a {
    color: #ff0099;
    text-decoration: underline;
    font-size: 22px;
    font-family: "Source Code Pro", monospace;
}

#name {
    font-size: 72px;
    padding-top: 140px;
    padding-bottom: 50px;
    font-weight: bold;
}

#fsd {
    color: #ff0099;
    padding-bottom: 30px;
    font-size: 40px;
    font-family: "Roboto Slab", serif;
}


p {
    padding-left: 10%;
    padding-right: 10%;
}

#tech, #separator {
    text-align: center;
}

#separator {
    padding-top: 40px;
    padding-bottom: 40px;
    letter-spacing: 20px;
}

#tech {
    padding-bottom: 30px;
    font-family: "Source Serif Pro", serif;
    font-size: 50px;
    font-weight: bold;
}

.title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}

.def {
    font-size: 20px;
    padding-bottom: 40px;
    font-family: "Source Code Pro", monospace;
}

.intro {
    font-family: "Source Code Pro", monospace;
    padding-bottom: 40px;
}